[submodule "Stockfish"]
	path = Stockfish
	url = https://github.com/official-stockfish/Stockfish.git
[submodule "Fairy-Stockfish"]
	path = Fairy-Stockfish
	url = https://github.com/ianfab/Fairy-Stockfish.git
